# Operating System Files
.DS_Store
Thumbs.db

# Editor Files
.vscode/

# Logs
*.log

# Dependency directories
/vendor/
/node_modules/

# Build artifacts
/dist/
/build/

# WordPress specific
*.sql
*.tar.gz
*.zip
wp-config.php

# Plugin specific
# Add any plugin-specific files or directories that should be ignored

# Temporary files
*.tmp
*.bak
*.swp
